.card {
  width: 300px;
  height: 300px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);  
  position: relative;
  border-radius: 10px;
}

.removeWhenUse {
  text-align: center;
  width: 100%;
  position: absolute;
  color: black;
  top: 85px;
  font-weight: bold;
}

.details > p {
  font-size: 1.1em;
  margin-top: .5em;
}

.details > label {
  font-weight: 900;
  font-size: 25px;
}

.details {
  color: white;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 100%;
  background-color: rgba(100, 98, 98, 0.7);
  position: absolute;
  bottom: 0;
  height: 3.5em;
  transition: height .5s ease-in-out;
  padding: 0.6em;
  overflow: hidden;
}

.card:hover > .details {
  height: 6.7em;
}
