.card {
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);  
  position: relative;
  border-radius: 10px;
}

.removeWhenUse {
  text-align: center;
  width: 100%;
  position: absolute;
  color: black;
  top: 85px;
  font-weight: bold;
}

.details > p {
  font-size: .8em;
  margin-top: .5em;
}

.details > label {
  font-weight: bold;
}

.details {
  color: white;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 100%;
  background-color: rgb(225, 82, 68, 0.9);
  position: absolute;
  bottom: 0;
  height: 2.6em;
  transition: height .5s ease-in-out;
  padding: 0.6em;
  overflow: hidden;
}

.card:hover > .details {
  height: 6.7em;
}
